PepperPalaceSearchToolAPI/appsettings.Local.json
PepperPalaceSearchToolAPI/appsettings.json
PepperPalaceSearchToolAPI/appsettings.json
PepperPalaceSearchToolAPI/bin/Debug/net10.0/appsettings.Local.json
